body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #CFD8DC;
}

.App-header {
  background-color: #455A64;
  max-height: 50px;
  margin-bottom: 40px;
  color: white;
}

.App-header h2 {
  margin: 0;
  padding: 5px;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.jumbotron {
  background-color: #607D8B;
}

.form__addIngredient {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__recipeDetail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__recipeDetail-close {
  float: right;
  font-size: 400;
  font-size: 2em;
  text-align: right;
  color: #FFFFFF;
  cursor: pointer;
}

.btn__recipeDetail-m-right {
  margin-right: 3rem;
}

.list-group {
  margin: 2rem auto;
}

.recipe {
  font-size: 1.6rem;
  font-weight: 900;
  color: #212121;
  text-decoration: none;
  text-align:center;
  background-color: #BDBDBD;
}

.recipe:hover {
 color: inherit;
 text-decoration:none;
 cursor:pointer;
}

.recipe__panel {
  background-color: #BDBDBD;
}

.recipeDetail {
  margin: 0 auto;
  padding: 3rem 6rem;
  max-width: 480px;
  border: 5px solid #455A64;
  background-color: #607D8B;
}

.recipeDetail__header {
  color: #212121;
  text-align: center;
}

.recipeDetail__listgroup{
  max-width: 320px;
}

.recipeDetail__listgroupItem{
  display: flex;
  background-color: #CFD8DC;
  border: 1px solid #BDBDBD;
}

.recipeDetail__ingredientsName {
  flex-grow: 4;
}

.recipeDetail__ingredientsDelete {
  flex-grow: 1;
}

.recipeDetail__ingredientsDelete p {
  text-align: right;
  cursor: pointer;
  color: #d9534f;
}
